footer {
    background-color: var(--black-raisin);
    color: var(--silver);

    width: 100vw;
    padding-block: 3rem;

    .container {
        display: flex;
        gap: 2rem;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    a.email {
       /* color: var(--silver); */
       text-decoration: underline; 
    }
}