footer {
	background-color: var(--black-raisin);
	color: var(--silver);

	padding-block: 3rem;

	.container {
		display: flex;
		gap: 2rem;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	a.email {
		/* color: var(--silver); */
		text-decoration: underline;
	}

	.drop-shadow-gold {
		filter: drop-shadow(-0.5px 5px 3px var(--golden));
	}
}
