:root {
	--green: #0f5257;
	--golden: #ff870a;
	--lilac: #9a91a1;
	--black-raisin: #201a23;
	--silver: #dedede;

	--darker-gold: color-mix(in srgb, var(--black-raisin) 75%, var(--golden));
	--lighter-gold: color-mix(in srgb, var(--silver) 60%, var(--golden));

	/*   Text Size Scale    */

	--text--2: clamp(0.64rem, 0.64rem + -0.01vw, 0.63rem);
	--text--1: clamp(0.8rem, 0.79rem + 0.06vw, 0.84rem);
	--text-0: clamp(1rem, 0.97rem + 0.17vw, 1.13rem);
	--text-1: clamp(1.25rem, 1.18rem + 0.34vw, 1.5rem);
	--text-2: clamp(1.56rem, 1.44rem + 0.59vw, 2rem);
	--text-3: clamp(1.95rem, 1.76rem + 0.96vw, 2.66rem);
	--text-4: clamp(2.44rem, 2.14rem + 1.51vw, 3.55rem);
	--text-5: clamp(3.05rem, 2.6rem + 2.28vw, 4.74rem);
}

html {
	color: var(--black-raisin);
	background-color: var(--silver);
}

body {
    overflow: scroll;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100svh;
}

/*****************************************************************************/
/*****************************************************************************/
/*                                                                           */
/*                              Utilities                                    */
/*                                                                           */
/*****************************************************************************/
/*****************************************************************************/

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

/***********************************************************/
/*                                                         */
/*                                                         */
/*                  UTILITY CLASSES                        */
/*                                                         */
/*                                                         */
/***********************************************************/
/***********************************************************/

/***
 * The following utilities are adapted from https://every-layout.dev
 */

/* The Stack
-----------------------------------------------------------------------*/
.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	--space: 1.5rem;
}

.stack > * + * {
	margin-block-start: var(--space, 1.5rem);
}

.stack:only-child {
	block-size: 100%;
}

/* For styling <code> elements like a terminal
-----------------------------------------------------------------------*/
.tty {
	color: #f2f2f2;
	min-width: 80ch;

	border: 0.25rem solid grey;
	border-radius: 0.25rem;
}

.tty-title-bar {
  background-color: grey;
  background-color: #9d9d9d;
  padding-inline-start: 1ch;
}

.tty-terminal {
  background-color: #00242dc9;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-inline-start: 1ch;
  padding-inline-end: 1ch;

  & a {
    color: greenyellow;
	/* color: var(--silver); */
    text-decoration: underline;
    text-decoration-style: dotted;
	text-decoration-thickness: 0.125rem;
  }

  & .tty-active-selection {
	color: greenyellow;
  }
  
  & .tty-username {
	  color: #3465a4;
	  padding-inline-end: .25ch;
  }

  & .tty-hostname {
	  color: #3465a4;
	  padding-inline-start: 0.25ch
  }

  & .tty-broken-link {
	  background-color: #000000;
	  color: #ef5051;
	  font-weight: bold;
  }
  
  & .tty-bin {
	color: greenyellow;
  }

  & .active-program a:not(.tty-active-selection) {
	color: var(--silver);
	text-decoration-line: none;
  }
}

.tty-cursor {
	animation: 2.4s steps(2, jump-none) infinite cursor-blink;
	filter: drop-shadow(0 0 1px var(--silver));
	text-decoration: underline;
	text-decoration-thickness: 0.3125rem;
	text-underline-offset: 0;
	user-select: none;
}

/* 
.blinking-cursor {
  visibility: visible;
  animation: blinking-cursor 3s linear infinite 
} */

@keyframes blinking-cursor {
  0% {
    visibility: visible;
  }
  50% {
   visibility: hidden;
  }
  100% {
	visibility: hidden
  }
}
