<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <base href="/dist/" />
    <link rel="stylesheet" href="/dist/assets/normalize.css" />
    <link rel="stylesheet" href="/dist/assets/reset.css" />
    <link rel="stylesheet" href="/dist/assets/styles.css" />
    <link rel="stylesheet" href="/dist/assets/typography.css" />
    <link rel="stylesheet" href="/dist/assets/footer.css" />
    <link rel="stylesheet" href="/dist/assets/fonts/fonts.css" />

</head>
