<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <base href="/" />
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/reset.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/typography.css" />
    <link rel="stylesheet" href="/assets/footer.css" />
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
    <link rel="stylesheet" href="https://unpkg.com/open-props/animations.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/easings.min.css"/>
	{% favicons "./src/bytezone.svg" %}

	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
</head>
