<!-- <div class="hero-container">
    <div class="hero"></div>
</div> -->

<div class="gradient-hero">
    <div class="text-container">
        <p class="h3">Materialize your 
            <ul class="h3" style="list-style: none; display: inline; padding-inline-start: 0.5rem; height: 4rem;">
                <li>ideas</li>
                <li>automations</li>
                <li>pipelines</li>
                <li>dashboards</li>
                <li>integrations</li>
                <li>systems</li>
                <li>deployments</li>
                <li>business</li>
            </ul>
        </p>
    </div>
</div> 